.mainblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.mainblock_box {
  width: 70.94%;
  margin: 50px 5% 60px 7%;
  background: #fff;
  border-radius: 5px; }

.mainblock_img {
  margin-top: 50px; }

.mainblock_box_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.mainblock_box_top_title {
  font-size: 30px;
  color: #b4100f;
  margin: 40px 25.3% 55px 12%; }

.mainblock_box_top_img {
  width: 260px;
  height: 100px;
  margin-top: 23px;
  margin-bottom: 5px; }

.mainblock_box_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.mainblock_box_info_itom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 3.6%;
  padding: 20px 0; }

.desctopNone {
  display: none;
}
.mainblock_box_info_itom_icon {
  width: 30px;
  height: 30px;
  margin-right: 30px;
   }
  .mainblock_box_info_itom_width53 {
    width: 53%;
  }
  .mainblock_box_info_itom_width40 {
    width: 40%;
  }
  .mainblock_box_info_itom_width100 {
    width: 100%;
  }

.mainblock_box_info_itom_icon_img {
  width: 100%; }
  .mainblock_box_info_itom_text_none {
    display: none;
  }

.mainblock_box_info_itom_text_top {
  font-size: 18px;
  text-transform: uppercase;
  color: #747b82; }

.mainblock_box_info_itom_socialnetworks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.mainblock_box_info_itom_socialnetworks_img {
  padding-left: 20px;
  width: 28px;
  height: 28px; }

.mainblock_box_info_itom_text_bottom_red {
  color: #b4100f;
  text-decoration: underline; }

.mainblock_box_info_itom_text_bottom_right {
  padding-left: 32px;
  font-weight: bold; }

.mainblock_title {
  font-size: 30px;
  margin: auto;
  width: 70.94%;
  margin: 0 5% 0 7%; }

.mainblock_title_text {
  text-align: center;
  margin-bottom: 30px; }

.nav_block_itom_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.nav_block_itom_icon_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background: #b4100f;
  margin: 0 30px 30px 0;
  border-radius: 7px; }

.nav_block_itom_two_marginbottom {
  margin-bottom: 30px; }
.info {
  margin: auto;
  width: 78%;
    margin: 58px 5% 60px 0;
}
.info_block {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
}
.info_block_title {
  text-transform: uppercase;
  color: #b4100f;
  font-size: 18px;
  margin-right: 8%;
  margin-top: 30px;

}
.info_block_title_second {
  text-align: right;
}
.info_block_text {
  width: 530px;
  background: #f1f1f1;
  border-radius: 5px;
}
.info_block_text_wrap {
  padding: 30px;
}
.info_block_text_p {
  color: #3c393a;
}
.container_text {
  width: 800px;
  margin: auto;
}
.text_bottom_slider {
  text-align: center;
}
.container_slaider {
  width: 830px;
  margin: auto;
}
.main_texttitle {
  text-align: center;
  font-size: 30px;
  margin-bottom: 35px;
}
.slider_block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.slider_block_box {
  width: 230px;
  height: 180px;
-webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); 
-webkit-transform: rotate(0.000001deg); 
-webkit-border-radius: 10px; 
-moz-border-radius: 10px;
border-radius: 10px; 
overflow: hidden; }
.slider_block_box_itom {
  widows: 100%;
  height: 100%;
}
.slider_block_marginBottom {
  margin-bottom: 50px;
}
.reviewsANDnews {
  display: flex;
  align-items: center;
}
.reviewsANDnews_blocReviews_text {
  color: #fff;
  text-transform: uppercase;
   background: #ffac14;
    border-radius: 10px;
    padding: 15px 40px 15px 30px;
    position: relative;
    color: #fff;
    display: inline-block;
    margin-right: 48px;
}
.reviewsANDnews_blocReviews_text::after {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: 47%; bottom: -20px; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    border-top: 10px solid #ffac14; 
}
.reviewsANDnews_blockNews_text {
  
  text-transform: uppercase;
  text-decoration: underline;  
}
.reviewsANDnews_blockNews_text a {
  color: #3c393a;
}
.reviewsANDnews_sorting_text {
  color: #3c393a;
  font-size: 14px;
  /*height: 150px;*/
/*  display: flex;
  align-items: flex-end;*/
  margin: 20px 0;
      text-align: right;
    width: 82%;
}
.reviewsANDnews_sorting_text_two {
  color: #3c393a;
  font-weight: bold;
}
.latest_reviews_block_box_two {
  width: 100%;
  height: 100%;
  background: #e5fbf6;
  margin-bottom:30px;
}

.latest_reviews_block_box_inside_two {

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   
    padding: 30px 100px 20px 30px;
}
.latest_reviews_block_box_texttop {
  width: 100%;
}
.latest_reviews_block_box_texttop_small_two {
    
    padding: 0px 30px 15px 30px ;
}
.latest_reviews_block_box_texttop_star {
  width: 20px;
  height: 15px;
  display: flex;
  
}
.latest_reviews_block_box_texttop_star_itom {
  width: 100%;
 
} 
.latest_reviews_block_box_inside_two_starblock {
      display: flex;
    justify-content: flex-end;
  
   
    align-self: flex-start;
}

.latest_reviews_block_vies {
  display: flex;
  justify-content: space-between;
  padding: 0px 100px 15px 30px;
}
.latest_reviews_block_vies_date {
  font-weight: bold;
  color: #747b82;
  display: flex;
}
.latest_reviews_block_vies_rating {
  font-size: 14px;
  color: #747b82;
}
.latest_reviews_block_vies_rating_img1 {
      -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 17px;
    height: 9px;
}
.latest_reviews_block_vies_rating_img2 {
  -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 17px;
    height: 9px;
        margin-left: 3px;
}
.leave_feedback_question {
  color: #3c393a;
  font-size: 18px;
  margin-bottom: 5px;
}
.leave_feedback_review {
   font-size: 18px;
   color: #b4100f;
   margin-bottom: 35px;
}
.leave_feedback_social_networks_wrapper {
  margin-bottom: 30px;
}
.leave_feedback_social_networks {
  display: flex;
  align-items: center;
}

.leave_feedback_social_networks_text {
  color: #3c393a;
  margin-right:15px;
}
.leave_feedback_social_networks_itom {
  margin-right: 15px;
  width: 30px;
}
.leave_feedback_buttomanonimno {
   border: 1px solid #a7a4a5;
  border-radius: 10px;
  background: #fff;
}
.leave_feedback_buttomanonimno_text {
  font-size: 10px;
  color: #a7a4a5;
  padding: 5px 10px;
   
}
.addAreview {
  font-size: 18px;
  color: #3c393a;
  margin-bottom: 30px;
}
.form {
      display: flex;
    justify-content: space-between;
    padding: 0px 100px 0px 0px;
    margin-bottom: 120px;

}
.form_block {
  width: 55%;
}
.form_block_itom {
      width: 100%;
    height: 120px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    resize: none;
}
::-webkit-input-placeholder {color:#a7a4a5;}
::-moz-placeholder          {color:#a7a4a5;}/* Firefox 19+ */
:-moz-placeholder           {color:#a7a4a5;}/* Firefox 18- */
:-ms-input-placeholder      {color:#a7a4a5;}

.form_block_itomRight_text {
  
      display: flex;
    align-items: center; 
}
.latest_reviews_block_box_inside_two_starblock_two {
  align-self: center;
}
.form_block_itomRight_text_title {
  margin-right: 20px;
}
.form_block_itomRight_button_itom {
      padding: 10px 78px;
    border-radius: 7px;
    text-decoration: none;
    text-transform: none;
    background: #c00000;
    border: none;
    color: #fff;
    margin-bottom: 5px;
}
.form_block_itomRight {
      display: flex;
    flex-flow: column;
    justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .nav {
    background: none
  }
  .container {
    width: 97%;
  }
  .mainblock_box {
    width: 95%;
    margin:0 auto;
  }
  .mainblock_box_top_img_wrapper {
    width: 80%;
  }
  .mainblock_box_top_img {
    width: 100%;
    height: auto;
  }
  .header_block_box, .mainblock_img {
    display: none;
  }
  .mainblock_box_top {
    flex-flow: column;
    align-items: center;
  }
  .mainblock_box_top_title {
    margin: 0;
  }
  .mainblock_box_info {
    flex-flow: column;
    align-items: center;
  }

  .mainblock_box_info_itom {
    width:  65%;
    margin: auto;
  }
  .mainblock_box_info_itom_icon {
    margin-right: 25%;
  }
  .mainblock_box_info_wrapper {
    display: flex;
    flex-flow: column;
  }
  .desctopNone {
    display: flex;
  }
  .mobNone {
    display: none;
  }
  .mobSocialNet {
    display: block;
  }
  .mainblock_box_info_itom_text_top_mob {
    text-align: center;
    margin-bottom: 20px;
  }
  .mainblock_box_info_itom_socialnetworks {
    justify-content: space-evenly;
  }
  .mainblock_box_info_itom_socialnetworks_img {
    padding: 0;
  }
  .mainblock_box_info_itom_text_bottom_right {
    padding: 0;
  }
  .info {
    width: 99%;
    margin: 0;
  }
  .info_block {
    display: block;
  }
  .info_block_title {
    text-align: center;
  }
  .info_block_title_second {
    display: inline-block;
  }
  .info_block_text {
    width: 99%;
  }
  .info_block_text_wrap {
    padding: 15px;
  }
  .mainblock_title {
    width: 99%;
    margin: 0;
  }
  .nav_block_itom_icon_two {
    margin-right: 0;
  }
  .nav_block_itom_two {
    justify-content: space-evenly;
  }
  .info_block_title {
    margin-bottom: 50px;
    margin-right: 0;
  }
  .container_slaider, .container_text {
    width: auto;
  }
  .reviewsANDnews_blocReviews_text {
    padding: 15px;
    margin-right:15px;
  }
  .reviewsANDnews_sorting_text {
    width: 100%;
    text-align: center;
    margin: 50px 0;
  }
  .latest_reviews_block_box_inside_two {
    padding-right: 50px;
  }
  .latest_reviews_block_box_inside_two_starblock {
    margin-top: 5px;
  }
  .leave_feedback_question {
        width: 68%;
    text-align: center;
    margin: auto;
  }
  .leave_feedback_review {
    text-align: center;
  }
  .leave_feedback_social_networks_wrapper {
    display: flex;
    justify-content: center;
  }
  .leave_feedback_social_networks {
    display: block;
  }
  .leave_feedback_social_networks_text {
    margin: 0;
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .leave_feedback_review {
    margin-bottom: 20px;
  }
  .form {
    padding-right: 0;
        width: 80%;
        display: block;
      }

  .addAreview {
    text-align: center
  }
  .form_wrapper   {
        display: flex;
    flex-flow: column;
        align-items: center;
  }
 .form_block {
  width: 100%;
 }
    .form_block_itomRight {
    align-items: center;
  }
  .form_block_itomRight_text {
    display: block;
  }
  .form_block_itomRight_text_title {
    margin: 0;
  }
  .form_block_itomRight_text_title {
    text-align: center;
    margin-bottom: 5px;
  }
  .latest_reviews_block_box_inside_two_starblock_two {
    margin-bottom: 20px;
  }
  .form_block_itomRight_button_itom {
    padding: 10px 0px;
    width: 100%;
  }
  .form_block_itomRight_button {
    width: 100%;
  }
  .mainblock_box_info_itom_icon_img {
    width: 30px;
  }
}